<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="images.css" rel="stylesheet"/>
</head>
<body>
  <h1 class="heading-content">Image Component</h1>
    <p class="para-content">Round images are achived using <strong>border-radius:50%</strong> css property</p>
   <hr>
   <h2 class="heading-content">Round Image</h2>
  <p class="para-content"></p>
 <!--round image-->
  <div class="round">
      <img class="round-image" src="/images/round-image.jpg" />
  </div>
  <p class="para-content">copy the below snippet and paste it in html file for round image</p>     
  <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522round%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522round-image%2522%2520src%253D%2522images%252Fround-image.jpg%2522%2520%252F%253E%250A%2520%2520%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<!--responsive image-->
<h2 class="heading-content">Responsive Image</h2>
  <p class="para-content">Responsive images are achieved using <strong>height:auto</strong>property of css, here we have given the width as 100% and setting height as auto, u can also set the maxwidth if u want the image to not chnage its width </p>
 
<div class="responsive">
  <img src="/images/nature-image.jpg" class="responsive-image" with="600" height="400" />
</div>
<p class="para-content">copy the below snippet and paste it in html file for responsive image</p>     
<iframe
src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522responsive%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522images%252Fnature-image.jpg%2522%2520class%253D%2522responsive-image%2522%2520with%253D%2522600%2522%2520height%253D%2522400%2522%2520%252F%253E%250A%253C%252Fdiv%253E"
sandbox="allow-scripts allow-same-origin">
</iframe>
  
</body>
</html>