.rating-container{
    background-color: white;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 4rem;
    
}
.rating-container input{
    display: none;
}
.rating-container label{
    display: inline-block;
    width:50px;
    position: relative;
    cursor: pointer;
    color: black;

}
.rating-container label::before{
    content: "\2605";
    position: absolute;
    font-size: 36px;
    top:0;
    left:0
    
}
.rating-container label:after{
   
    content: "\2605";
    position: absolute;
    font-size: 36px;
    top:0;
    left:0;
    color: yellow;
    opacity:0;
}


.rating-container label:hover:after, .rating-container label:hover~label:after, .rating-container input:checked~label:after{
    opacity: 1;
}
.heading-content{
    text-align: center;
    font-size: 2em;
    color: orangered;
}
.para-content{
    text-align: center;
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

iframe{
  width: 554px;
  height: 300px;
  margin: auto;
  display: block;
  border:0;
   transform: scale(1); 
   overflow:hidden;
   margin-bottom: 2rem;
}