<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="slider.css" rel="stylesheet"/>
</head>
<body>
    
    <h2 class="heading-content">Slider component</h2>
  <p class="para-content">Slider Component is used to change the value for a field, widely used in ecommerce, changing the volume etc </p>

    <div class="slide-container">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <p class="para-content">copy the below snippet in html file for text input</p>
      <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522slide-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%253D%2522slider%2522%2520id%253D%2522myRange%2522%253E%250A%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
</body>
</html>