<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="cart.css" rel="stylesheet"/>
</head>
<body>
    <nav>
  
        <ul class="nav_links">
            <li><a href="/components/product.html">Shop</a></li>
            <li><a href="/components/wishlist.html">Wishlist</a></li>
            <li><a href="/components/cart.html">Cart</a></li>
            <li><a href="/components/signup.html">Sign Up!</a></li>
            <li><a href="/components/logout.html">log out</a></li>
        </ul>
         </nav> 
    <div class="address">
        <h3>Deliver to: Mr.John, 524001</h3>
        <p>Second main, first street, third building,Hyderabad</p>
        <button class="edit-button">Edit</button>
    </div>
    <div class="horizantal-card-container">
        <div class="horizantal-card">
           <div class="horizantal-image">
               <img src= "/images/string.jpeg">
    
           </div>
        <div class="horizantal-content">
            <h2 class="title">Acoustic Guitar</h2>
            <p class="cart-para"> Rs.500/-</p>
            <div class="icons">
            <div class="add">
                <button class="insertion">+</button>
                <button class="insertion">4</button>
                <button class="insertion">-</button>

            </div>
            <div class="add">
            <button class="btn-text-one">READ</button>
                <button class="btn-text-two">BOOKMARK</button>
            </div>
        </div> 
    </div>
        </div>
        </div>
        <div class="horizantal-card-container">
            <div class="horizantal-card">
               <div class="horizantal-image">
                   <img src= "/images/string.jpeg">
        
               </div>
            <div class="horizantal-content">
                <h2 class="title">Acoustic Guitar</h2>
                <p class="cart-para"> Rs.500/-</p>
                <div class="icons">
                <div class="add">
                    <button class="insertion">+</button>
                    <button class="insertion">4</button>
                    <button class="insertion">-</button>
    
                </div>
                <div class="add">
                <button class="btn-text-one">READ</button>
                    <button class="btn-text-two">BOOKMARK</button>
                </div>
            </div> 
        </div>
            </div>
            </div>
            <div class="horizantal-card-container">
                <div class="horizantal-card">
                   <div class="horizantal-image">
                       <img src= "/images/string.jpeg">
            
                   </div>
                <div class="horizantal-content">
                    <h2 class="title">Acoustic Guitar</h2>
                    <p class="cart-para"> Rs.500/-</p>
                    <div class="icons">
                    <div class="add">
                        <button class="insertion">+</button>
                        <button class="insertion">4</button>
                        <button class="insertion">-</button>
        
                    </div>
                    <div class="add">
                    <button class="btn-text-one">READ</button>
                        <button class="btn-text-two">BOOKMARK</button>
                    </div>
                </div> 
            </div>
                </div>
                </div>
                <div class="horizantal-card-container">
                    <div class="horizantal-card">
                       <div class="horizantal-image">
                           <img src= "/images/string.jpeg">
                
                       </div>
                    <div class="horizantal-content">
                        <h2 class="title">Acoustic Guitar</h2>
                        <p class="cart-para"> Rs.500/-</p>
                        <div class="icons">
                        <div class="add">
                            <button class="insertion">+</button>
                            <button class="insertion">4</button>
                            <button class="insertion">-</button>
            
                        </div>
                        <div class="add">
                        <button class="btn-text-one">READ</button>
                            <button class="btn-text-two">BOOKMARK</button>
                        </div>
                    </div> 
                </div>
                    </div>
                    </div>
                    <div class="checkout-container">
                        <div class="text-only-card">
                            <div class="card-body">
                            <h2 class="checkout-title">Check Out</h2>
                        </div>
                    <hr class="hr"></hr>
                    <div class="checkout-para">
                   <h4> PRICE DETAILS: (3 items)</h4>
                   
                   <div class="inline">
                    <div>Total MRP</div>
                    <div class="checkout-price">₹4552.00</div>
                </div>
                <div class="inline">
                    <p >Discount </p>
                    <p class="checkout-price">₹4552.00</p>
                </div>
                <div class="inline">
                    <p >Delivery Charges </p>
                    <p class="checkout-price two">₹4552.00</p>
                </div>
                <div class="inline">
                    <h2>Total Amount </h2>
                    <p class="checkout-price two">₹4552.00</p>
                </div>
                
                    <div class="check-btn">
                    <button class="checkout-button">Check Out</button>
                </div>
            </div>
                
                              
                        </div>
                    </div>
                    <footer class="footer-header">
                        <h2>About Us</h2>
                        <p>We have started this company to make great quality instruments at the affordable prices.</p>
                        <div class="footer-header">Contact Us</div>
                        <ul class="social">
                            <li class="inline social-links"><a class="git" href="https://github.com/Rajitha04">Gmail</a></li>
                            <li class="inline social-links"><a class="git" href="https://www.linkedin.com/in/rajitha-muppalla-008aa8185">Call</a></li>
                            <li class="inline social-links"><a class="git" href="https://twitter.com/Mpraji04">Feedback</a></li>
                            
                        </ul>
                        
                        </footer>
                
    
</body>
</html>