<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet"/>
    <link href="/components/component-lib/avatar.css" rel="stylesheet"/>

</head>
<body>
 <header>
    <h2 class="heading"> The Melody</h2>
    <input type="text" class="input-text"/>
 <nav>
  
<ul class="nav_links">
    <li><a href="">Shop</a></li>
    <li><a href="">Wishlist</a></li>
    <li><a href="">Cart</a></li>
</ul>
 </nav> 
 <a class="" href=""><button class="login">Login</button></a>
 <a class="" href=""><button class="profile">My Profile</button></a>
</header>  

<main> 
    <div class="text-overlay">
        <img class="main-image" src="/images/instrument-image.jpg"/>
         <div class="overlay">END OF THE SEASON SALE <br/> FLAT 50% OFF<br/>GRAB NOW </div>
       <button class="overlay-button">SHOP NOW</button>
        </div>
        <h2 class="category-heading"> Product Categories</h2>
    <div class="category">

      <a><img class="category-image" src="/images/string.jpeg"/><p>String Instruments </p></p></a>
       <a><img class="category-image" src="/images/flute.jpeg"/><p>Wind Instruments</p></a>
    <a><img class="category-image" src="/images/plate3.jpg"/><p>Plate Instruments</p></a>
    </div>
</main>

    <footer class="footer-header">
        <h2>About Us</h2>
        <p>We have started this company to make great quality instruments at the affordable prices.</p>
        <div class="footer-header">Contact Us</div>
        <ul class="social">
            <li class="inline social-links"><a class="git" href="https://github.com/Rajitha04">Gmail</a></li>
            <li class="inline social-links"><a class="git" href="https://www.linkedin.com/in/rajitha-muppalla-008aa8185">Call</a></li>
            <li class="inline social-links"><a class="git" href="https://twitter.com/Mpraji04">Feedback</a></li>
            
        </ul>
        
        </footer>

</body>
</html>