<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="signup.css" rel="stylesheet"/>
</head>
<body>
    <form>
        
            <div class="form">
                <h1 class="heading">Login Form</h1>
                <hr>
                <h2>Email</h2>
        <input type="text" placeholder="email"  required>
        <h2>Password</h2>
        <input type="password" placeholder="Enter Password"  required>
        <i class="far fa-eye" id="togglePassword"></i>
        </div>
        <div>
            <button type="button" class="cancel">Cancel</button>
            <button type="submit" class="signup">Login</button>
            </div>
    </form>
</body>
</html>