<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="product.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h2 class="heading"> The Melody</h2>
        <input type="text" class="input-text"/>
     <nav>
      
    <ul class="nav_links">
        <li><a href="/components/product.html">Shop</a></li>
        <li><a href="/components/wishlist.html">Wishlist</a></li>
        <li><a href="/components/cart.html">Cart</a></li>
        <li><a href="/components/logout.html">log out</a></li>
    </ul>
     </nav> 
     <a class="" href="/components/login.html"><button class=" nav-button login">Login</button></a>
     <a class="" href=""><button class=" nav-button profile">My Profile</button></a>
    </header>  
    <hr class="hr"></hr>
    <div class="main">
        <aside class="aside">
        <div class="aside-head">
            <h2>Filters</h2>
            <h2 class="primary">Clear</h2>
            </div>
        <!--category-->
        <h2>Category</h2>
        <input type="checkbox" id="string" name="string">
        <label for="string">String</label><br>
        <input type="checkbox" id="wind" name="wind">
        <label for="wind">wind</label><br>
        <input type="checkbox" id="plate" name="plate">
        <label for="plate">plate</label><br>
       <!--price-->
       <p>price</p>
       <p>0 to 20,00</p>
       <input type="range" min="1" max="20000" value="400">
       <!--rating-->
       <h2>Rating</h2>
       <input type="radio" id="4star" value="4star">
       <label for="4star">4 star </label><br>
       <input type="radio" id="3star" value="3star">
       <label for="3star">3 star </label><br>
       <input type="radio" id="2star" value="2star">
       <label for="2star">2 star </label><br>
       <input type="radio" id="1star" value="1star">
       <label for="1star">1 star </label><br>
       <!--sort by-->
       <h2>Sort By</h2>
       <input type="radio" id="price-low" value="price-low">
       <label for="price-low">Price - Low to High</label><br>
       <input type="radio" id="price-high" value="price-high">
       <label for="price-high">Price - High to Low</label><br>
       <input type="radio" id="popularity" value="popularity">
       <label for="popularity">Popularity</label><br>
        </aside>

        
        <div class="main-info">
            <div class="category">

                <a><img class="category-image" src="/images/membrane3.jpg"/><p>Acoustic Guitar </p>
                    <p>Price: 5000/-</p>
                    <div class="category-btn">
                    <button class="add-to-cart">Add to Cart</button>
                    <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                    <a><img class="category-image" src="/images/flute.jpeg"/><p>Acoustic Guitar </p>
                        <p>Price: 5000/-</p>
                        <div class="category-btn">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                        <a><img class="category-image" src="/images/membrane.jpg"/><p>Acoustic Guitar </p>
                            <p>Price: 5000/-</p>
                            <div class="category-btn">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                            
            </div>
            
        </div>  
            <div class="main-info2">
                <div class="category">

                    <a><img class="category-image" src="/images/membrane2.jpg"/><p>Acoustic Guitar </p>
                        <p>Price: 5000/-</p>
                        <div class="category-btn">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                        <a><img class="category-image" src="/images/plate2.png"/><p>Acoustic Guitar </p>
                            <p>Price: 5000/-</p>
                            <div class="category-btn">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                            <a><img class="category-image" src="/images/string.jpeg"/><p>Acoustic Guitar </p>
                                <p>Price: 5000/-</p>
                                <div class="category-btn">
                                <button class="add-to-cart">Add to Cart</button>
                                <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                                
                </div>
              
           </div>
            <div class="main-info3">
                <div class="category">

                    <a><img class="category-image" src="/images/string.jpeg"/><p>Acoustic Guitar </p>
                        <p>Price: 5000/-</p>
                        <div class="category-btn">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                        <a><img class="category-image" src="/images/membrane.jpg"/><p>Acoustic Guitar </p>
                            <p>Price: 5000/-</p>
                            <div class="category-btn">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                            <a><img class="category-image" src="/images/flute.jpeg"/><p>Acoustic Guitar </p>
                                <p>Price: 5000/-</p>
                                <div class="category-btn">
                                <button class="add-to-cart">Add to Cart</button>
                                <button class="add-to-wishlist">Add to Wishlist</button></div> </a>
                                
                </div>
              
            </div>
    </div>
</body>
</html>


    <footer class="footer-header">
        <h2>About Us</h2>
        <p>We have started this company to make great quality instruments at the affordable prices.</p>
        <div class="footer-header">Contact Us</div>
        <ul class="social">
            <li class="inline social-links"><a class="git" href="https://github.com/Rajitha04">Gmail</a></li>
            <li class="inline social-links"><a class="git" href="https://www.linkedin.com/in/rajitha-muppalla-008aa8185">Call</a></li>
            <li class="inline social-links"><a class="git" href="https://twitter.com/Mpraji04">Feedback</a></li>
            
        </ul>
        
        </footer>
</body>
</html>