
body{
    background-color: #242524;
}
    


.category{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;

}


aside{
    color:#edf0f1;
}

.category-heading{
    margin:2rem 2rem;
    font-size:xx-large;
    color: rgb(180, 74, 109);
}

.category-image{
    width:300px;
    height:300px;
}

.category p{
    font-size: larger;
    color: #edf0f1;
}
 
.footer-header{
    background-color: rgb(180, 74, 109);
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
    
}


.footer-header h2{
    background-color: rgb(180, 74, 109);
   
}  
.footer-header p{
    background-color: rgb(180, 74, 109);
}
.footer-header .social,.inline,.git{
    background-color: rgb(180, 74, 109);
    text-align: center;
    list-style: none;
    display: inline;
    padding: 0 1rem;
    margin-top: 0px;
          }
          
          li,a,button{
            font-family: monospace;
            font-weight: 500;
            font-size: 16px;
            color:#edf0f1;
            text-decoration: none;
        }
        
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10px;
        }
        
        .heading{
            color: #edf0f1;
        }
        .nav_links{
            list-style: none;
        }
        .nav_links li{
            display: inline-block;
            padding: 0px 20px;
        }
       
        .nav_links li a{
            transition: all 0.3s ease 0s;
        }
        
        .nav_links li a:hover{
            color: rgb(180, 74, 109);
        }
        .nav-button{
          
                padding: 9px 25px;
                border: none;
                border-radius: 50px;
                cursor:pointer;
                transition: all 0.3s ease 0s;
                background-color: rgb(180, 74, 109);
                
            
        }
        .add-to-cart{
           background-color: rgb(180, 74, 109);
          margin-bottom: 1rem;
          padding: 1rem;
          width: 150px;
          border-radius: 0.5rem;
          color: #edf0f1; 
            
        }
        .add-to-wishlist{
         border:1px solid rgb(180, 74, 109);
          margin-bottom: 1rem;
          padding: 1rem;
          width: 150px;
          border-radius: 0.5rem;
          background-color: transparent;
          color: #edf0f1;
          
        }
        .category-btn{
            display: flex
        } 





.card-footer {
    display: flex;
    justify-content: center;
}

.main{
    display: grid;
}
.aside{
    grid-column: 1/2;
    grid-row: 2/6;
}
.aside-head{
    display:flex;
    gap: 2rem;
}
.aside p,input,label,h2{
    padding: 1rem;
    margin-left: 1rem;
    font-size: 20px;
}
.main-info{
    display: grid;
     grid-column: 2/3;
     grid-row: 2/4;
}
.main-info2{
    display: grid;
    grid-column: 3/4;
    grid-row: 2/4;
}
.main-info3{
    display: grid;
    grid-column: 4/5;
    grid-row: 2/4;
}
.primary{
    color: rgb(180, 74, 109);
    cursor: pointer;
    opacity: 0.8;
}

