<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="product.css" rel="stylesheet"/>
</head>
<body>
    <div class="grid">
        <div class="filter">
            filter
        </div>
        <div class="main">
            main
            <div class="category">

                <a><img class="category-image" src="/images/string.jpeg"/><p>String Instruments </p></p></a>
                 <a><img class="category-image" src="/images/flute.jpeg"/><p>Wind Instruments</p></a>
              <a><img class="category-image" src="/images/plate3.jpg"/><p>Plate Instruments</p></a>
              </div>
              <div class="category">

                <a><img class="category-image" src="/images/string.jpeg"/><p>String Instruments </p></p></a>
                 <a><img class="category-image" src="/images/flute.jpeg"/><p>Wind Instruments</p></a>
              <a><img class="category-image" src="/images/plate3.jpg"/><p>Plate Instruments</p></a>
              </div>
              <div class="category">

                <a><img class="category-image" src="/images/string.jpeg"/><p>String Instruments </p></p></a>
                 <a><img class="category-image" src="/images/flute.jpeg"/><p>Wind Instruments</p></a>
              <a><img class="category-image" src="/images/plate3.jpg"/><p>Plate Instruments</p></a>
              </div>
           
        </div>
    </div>
</body>
</html>