
body{
    background-color: #242524;
}


.grid{
    display: grid;         
}
.filter{
    grid-column: 1/2;
    grid-row: 1/8;
    border: 1px solid black;
}
.main{
    grid-column: 2/6;
    grid-row: 1/8;
    border: 1px solid black;
}
.category{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap:10px;
    margin-left: 4rem;
}
.category-heading{
    margin:2rem 2rem;
    font-size:xx-large;
    color: rgb(180, 74, 109);
}
.category-image{
    width:300px;
    height:300px;
}
.category p{
    font-size: larger;
    color: #edf0f1;
}


