<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="product.css" rel="stylesheet"/>
</head>
<body>
    <div class="grid">
        <div class="filter">
            filter
        </div>
        <div class="main">
            main
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpeg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="badge-card">
                    <img src="/images/guitar.jpg">
                    <h2 class="wishlist-title">Acoustic Guitar</h2>
                    <p class="badge">#1 Best Seller</p>
                    <p>Ships in 3-4 days</p>
                    <p class="price">15,000/-</p>
                    <div class="wishlist-btn">
                    <button class="save-button">Add to Cart</button>
                    <button class="buy-button">Remove</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>