<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="signup.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
     
    <form>
        <div class="form">
        <h1 class="heading">Sign Up Form</h1>
        <hr>
        <h2>First Name</h2>
        <input type="text" placeholder="firstname"  required>
        <h2>Last Name</h2>
        <input type="text" placeholder="firstname">
        <h2>Email</h2>
        <input type="text" placeholder="email"  required>
        <h2>Password</h2>
        <input type="password" placeholder="Enter Password"  required>
        <i class="far fa-eye" id="togglePassword"></i>
        <h2>Confirm Password</h2>
        <input type="password" placeholder="Repeat Password" required>
        <i class="far fa-eye" id="togglePassword"></i>    
        <div>
            <button type="button" class="cancel"><a href="/index.html">Cancel</a></button>
            <button type="submit" class="signup"><a href="/components/product.html">Sign Up</a></button>
            </div>
            </div>
            </form>
          
</body>
</html>