<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="wishlist.css" rel="stylesheet"/>
    
</head>
<body>
    

<header>
    <h2 class="heading"> The Melody</h2>
    <input type="text" class="input-text"/>
 <nav>
  
<ul class="nav_links">
    <li><a href="">Shop</a></li>
    <li><a href="">Wishlist</a></li>
    <li><a href="">Cart</a></li>
</ul>
 </nav> 
 <a class="" href=""><button class="login">Login</button></a>
 <a class="" href=""><button class="profile">My Profile</button></a>
</header>  
<div class="card-container">
    <div class="container">
        <div class="badge-card">
            <img src="/images/guitar.jpeg">
            <h2 class="wishlist-title">Acoustic Guitar</h2>
            <p class="badge">#1 Best Seller</p>
            <p>Ships in 3-4 days</p>
            <p class="price">15,000/-</p>
            <div class="wishlist-btn">
            <button class="save-button">Add to Cart</button>
            <button class="buy-button">Remove</button>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="badge-card">
            <img src="/images/guitar.jpeg">
            <h2 class="wishlist-title">Acoustic Guitar</h2>
            <p class="badge">#1 Best Seller</p>
            <p>Ships in 3-4 days</p>
            <p class="price">15,000/-</p>
            <div class="wishlist-btn">
            <button class="save-button">Add to Cart</button>
            <button class="buy-button">Remove</button>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="badge-card">
            <img src="/images/guitar.jpeg">
            <h2 class="wishlist-title">Acoustic Guitar</h2>
            <p class="badge">#1 Best Seller</p>
            <p class="wishlist-para">Ships in 3-4 days</p>
            <p class="price">15,000/-</p>
            <div class="wishlist-btn">
            <button class="save-button">Add to Cart</button>
            <button class="buy-button">Remove</button>
        </div>
        </div>
    </div>
</div>

 <footer class="footer-header">
        <h2>About Us</h2>
        <p>We have started this company to make great quality instruments at the affordable prices.</p>
        <div class="footer-header">Contact Us</div>
        <ul class="social">
            <li class="inline social-links"><a class="git" href="https://github.com/Rajitha04">Gmail</a></li>
            <li class="inline social-links"><a class="git" href="https://www.linkedin.com/in/rajitha-muppalla-008aa8185">Call</a></li>
            <li class="inline social-links"><a class="git" href="https://twitter.com/Mpraji04">Feedback</a></li>
            
        </ul>
        
        </footer>
</body>
</html>